 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

 body {
   margin: 0;
   background: url('G:\CSS EX\Basicwebsitelayout/background.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }

 /* Global CSS Start */
 .w-25 {
   width: 25%;
   float: left;
   overflow: hidden;
   box-sizing: border-box;

 }

 .w-50 {
   width: 50%;
   float: left;
   overflow: hidden;
   box-sizing: border-box;


 }

 /* Global CSS End */



 .nav-menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 64.5px;
   background: #3E8DA8;

 }

 .nav-menu ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

 }

 .nav-menu>ul>li {
   float: left;
   position: relative;
   margin-left: 30px;



 }

 .nav-menu::after {
   content: '';
   display: block;
   clear: both;
 }

 .nav-menu ul li a {
   text-decoration: none;
   padding: 20px 20px;
   display: block;
   font-size: 20px;
   color: #ffffff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


 }

 .nav-menu ul li:hover {
   background: darkred;
 }

 .nav-menu ul ul a {
   display: block;
 }

 .nav-menu ul ul {
   background: green;
   position: absolute;
   left: 0;
   top: 100%;
   display: none;
 }

 .nav-menu ul li:hover>ul {
   display: block;
 }

 .nav-menu ul ul li :hover {
   background: darkgoldenrod;
 }

 .nav-menu ul ul li {
   width: 100%;
   position: relative;
 }

 .nav-menu ul ul ul {
   position: absolute;
   top: 0;
   left: 100%;
   display: none;

 }

 .nav-menu ul ul li:hover ul {
   display: block;

 }

 .nav-menu ul ul ul li :hover {
   background: darkblue;
 }









 .header-area {
   height: 64.5px;

 }

 .header-area .header-content {
   overflow: hidden;

 }

 .main-content-area .left-sidebar {
   background: linear-gradient(darkblue, green);
   overflow: hidden;
   padding: 10px;
   color: #fff;
   height: 500px;
 }

 .main-content-area {
   overflow: hidden;

 }

 .main-content-area .main-content {
   background: linear-gradient(indigo, grey, blue);
   overflow: hidden;
   padding: 10px;
   color: green;
   height: 500px;

 }

 .cube-container {
   position: relative;
   margin: 40% 0 0 45%;
   transition: 3s;

 }

 .cube-container:hover {

   transform: rotateZ(360deg);

 }

 .cube {
   width: 100px;
   height: 100px;
   position: absolute;
 }

 .cube-top {
   background: url('G:\CSS EX\Basicwebsitelayout/ttt biur.jpg');
   background-repeat: no-repeat;
   background-position: right;
   background-size: cover;
   transform: rotate(-45deg) skew(15deg, 15deg);
 }

 .cube-left {
   background: url('G:\CSS EX\Basicwebsitelayout/fatiha.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   transform: translate(-45%, 77%) rotate(15deg) skew(15deg, 15deg);
 }

 .cube-right {
   background: url('G:\CSS EX\Basicwebsitelayout/fatihaa.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   transform: translate(44%, 78%) rotate(-15deg) skew(-15deg, -15deg);
 }




 .main-content-area .right-sidebar {
   background: linear-gradient(#000080, grey);
   overflow: hidden;
   padding: 10px;
   color: #fff;
   height: 500px;
   align-items: center
 }

 .right-sidebar h2 {
   margin-left: 20px;
   display: inline-block;
   margin-top: 3px;
   margin-bottom: 0px;
 }

 .img {
   margin-left: 35px;
   margin-right: 15px;
   margin-top: 1px;

   border: 1px solid;
   border-width: 5px;
   border-top-style: dotted;
   border-left-style: dotted;
   border-bottom-style: dashed;
   border-right-style: dashed;
   border-color: floralwhite;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   width: 110px;
   height: 80px;

 }

 .img-content {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   ;
   display: inline-block;
   margin-left: 6px;

 }

 .img-content strong {}

 .img-content p {
   margin-top: 0px;
   display: inline-block;
   margin-right: 6px;
   text-align: justify;
 }

 .course-content-table {
   margin-right: 5px;

 }

 .course-content {
   margin-right: 9px;
   display: inline-block;
   font-size: 14.5px;
   text-align: center;
   border-color: greenyellow;
   border-style: double;
   border-radius: 14px solid;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }



 .news-update {
   background: skyblue;
   height: 90px;
   display: inline-block;
   width: 100%;
   padding-left: 33px;
   overflow: hidden;
   font-weight: 700px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 20pt;
   margin-top: 30px;
 }

 .news-update h3 {
   color: darkred;
 }

 .product-update {
   height: 750px;
   width: 50%;
   background: red;
   float: left;
   overflow: hidden;
   margin-top: 43px;
   overflow: hidden
 }

 .gallery {
   background: greenyellow;
   height: 750px;
   width: 50%;
   display: inline-block;
   margin-top: 43px;
 }





 footer {
   position: fixed;
   background: #140B5C;
   width: 100%;
   bottom: 0;
   left: 0;
 }

 footer::before {
   content: '';
   position: absolute;
   left: 0;
   top: 100px;
   height: 1px;
   width: 100%;
   background: #AFAFB6;
 }

 footer .content {
   max-width: 1250px;
   margin: auto;
   padding: 30px 40px 40px 40px;
 }

 footer .content .top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 0px;
 }

 .content .top .logo-details {
   color: #fff;
   font-size: 30px;
 }

 .content .top .media-icons {
   display: flex;
 }

 .content .top .media-icons a {
   height: 40px;
   width: 40px;
   margin: 0 8px;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
   color: #fff;
   font-size: 17px;
   text-decoration: none;
   transition: all 0.4s ease;
 }

 .top .media-icons a:nth-child(1) {
   background: #4267B2;
 }

 .top .media-icons a:nth-child(1):hover {
   color: #4267B2;
   background: #fff;
 }

 .top .media-icons a:nth-child(2) {
   background: #1DA1F2;
 }

 .top .media-icons a:nth-child(2):hover {
   color: #1DA1F2;
   background: #fff;
 }

 .top .media-icons a:nth-child(3) {
   background: #E1306C;
 }

 .top .media-icons a:nth-child(3):hover {
   color: #E1306C;
   background: #fff;
 }

 .top .media-icons a:nth-child(4) {
   background: #0077B5;
 }

 .top .media-icons a:nth-child(4):hover {
   color: #0077B5;
   background: #fff;
 }

 .top .media-icons a:nth-child(5) {
   background: #FF0000;
 }

 .top .media-icons a:nth-child(5):hover {
   color: #FF0000;
   background: #fff;
 }

 footer .content .link-boxes {
   width: 100%;
   display: flex;
   justify-content: space-between;
 }

 footer .content .link-boxes .box {
   width: calc(100% / 5 - 10px);
 }

 .content .link-boxes .box .link_name {
   color: #fff;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 10px;
   position: relative;
 }

 .link-boxes .box .link_name::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -2px;
   height: 2px;
   width: 35px;
   background: #fff;
 }

 .content .link-boxes .box li {
   margin: 6px 0;
   list-style: none;
 }

 .content .link-boxes .box li a {
   color: #fff;
   font-size: 14px;
   font-weight: 400;
   text-decoration: none;
   opacity: 0.8;
   transition: all 0.4s ease
 }

 .content .link-boxes .box li a:hover {
   opacity: 1;
   text-decoration: underline;
 }

 .content .link-boxes .input-box {
   margin-right: 55px;
 }

 .link-boxes .input-box input {
   height: 40px;
   width: calc(100% + 55px);
   outline: none;
   border: 2px solid #AFAFB6;
   background: #140B5C;
   border-radius: 4px;
   padding: 0 15px;
   font-size: 15px;
   color: #fff;
   margin-top: 5px;
 }

 .link-boxes .input-box input::placeholder {
   color: #AFAFB6;
   font-size: 16px;
 }

 .link-boxes .input-box input[type="button"] {
   background: #fff;
   color: #140B5C;
   border: none;
   font-size: 18px;
   font-weight: 500;
   margin: 4px 0;
   opacity: 0.8;
   cursor: pointer;
   transition: all 0.4s ease;
 }

 .input-box input[type="button"]:hover {
   opacity: 1;
 }

 footer .bottom-details {
   width: 100%;
   background: #0F0844;
 }

 footer .bottom-details .bottom_text {
   max-width: 1250px;
   margin: auto;
   padding: 20px 40px;
   display: flex;
   justify-content: space-between;
 }

 .bottom-details .bottom_text span,
 .bottom-details .bottom_text a {
   font-size: 14px;
   font-weight: 300;
   color: #fff;
   opacity: 0.8;
   text-decoration: none;
 }

 .bottom-details .bottom_text a:hover {
   opacity: 1;
   text-decoration: underline;
 }

 .bottom-details .bottom_text a {
   margin-right: 10px;
 }

 @media (max-width: 900px) {
   footer .content .link-boxes {
     flex-wrap: wrap;
   }

   footer .content .link-boxes .input-box {
     width: 40%;
     margin-top: 10px;
   }
 }

 @media (max-width: 700px) {
   footer {
     position: relative;
   }

   .content .top .logo-details {
     font-size: 26px;
   }

   .content .top .media-icons a {
     height: 35px;
     width: 35px;
     font-size: 14px;
     line-height: 35px;
   }

   footer .content .link-boxes .box {
     width: calc(100% / 3 - 10px);
   }

   footer .content .link-boxes .input-box {
     width: 60%;
   }

   .bottom-details .bottom_text span,
   .bottom-details .bottom_text a {
     font-size: 12px;
   }
 }

 @media (max-width: 520px) {
   footer::before {
     top: 145px;
   }

   footer .content .top {
     flex-direction: column;
   }

   .content .top .media-icons {
     margin-top: 16px;
   }

   footer .content .link-boxes .box {
     width: calc(100% / 2 - 10px);
   }

   footer .content .link-boxes .input-box {
     width: 100%;
   }
 }
