*{
  margin: 0;
  padding: 0;
}


body {
    background-image: url('received_1597828963891338.jpeg');
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    background-repeat: no-repeat;
    
}
.regform{
  width: 800px;
  height: 50px;
  background-color: rgb(0, 0, 0, 0.8);
  margin: auto;
  color: #fff;
  padding: 10px 0px 10px 0px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;

}
.main{
  background-color: rgb(0, 0, 0, 0.6);
  width: 800px;
  margin: auto;
  
}
form{
  padding: 10px;
}
.first-name-table{
  width: 100px;
  height: 10px;
  float: left;
  
}

.name{
  margin-left: 25px;
  margin-top: 30px;
  width: 125px;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 700px;
}
.firstname{
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}
.lastname{
  position: relative;
  left: 409px;
  top: -39px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.firstlabel{
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 14px;
  left: 203px;
  top: -45px;
}
.lastlabel{
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 14px;
  left: 175px;
  top: -45px;
  
}
.address{
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 532px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  
}
.field-inline-block{
  float: left;
  width: 100px;
  display: block;
  color: #fff;
  margin-left: 140px;
  position: relative;
  
}
.date-field-day{
    
    text-align: center;
    position: relative;
    left: 57px;
    top: -69px;
    line-height: 40px;
    width: 67px;
    border-radius: 6px;
    padding: 0 25px;
    font-size: 16px;
    color: #555;
}


.date-field-month{
    
    text-align: center;
    position: relative;
    
    left: 12px;
    top: -69px;
    line-height: 40px;
    width: 88px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.date-field-year{
    
    text-align: center;
    position: relative;
    
    left: 18px;
    top: -69px;
    line-height: 40px;
    width: 90px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}



  











.email{
  position: relative;
  left: 200px;
  top: -37px;
  width: 532px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.code{
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 95px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  
}
.number{
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 527px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  
}
.area-code{
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 16px;
  left: 54px;
  top: -4px;
}
.phone-number{
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 16px;
  left: -100px;
  top: -2px;
  
}
.subject{
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 575px;
  height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  overflow: hidden;
  outline: none;
}
.subject option{
  font-size: 20px;
}
.student{
  margin-left: 25px;
  color: white;
  font-size: 18px;


}

.radio{
  display: block;
  padding-right: 0px;
  font-size: 25px;
  margin-left: 200px;
  position: relative;
  color: white;
  float: left;

}
.radio input{
  width: 25px;
  height: 40px;
  border-radius: 70%;
  

  
  
}

.radio-yes{
  position: relative;
  left: 0px;
  top: -27px;
  
}
.radio-no{
  position: relative;
  left: 20px;
  top: -27px;
}

button{
  background-color: #3BAF9F;
  display: block;
  margin: 20px 0px 0px 20px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 14px 110px;
  color: white;
  cursor: pointer;
  transition: 0.25px;
  position: relative;
  left: 250px;
  
}
button:hover{
  background: rgb(22, 192, 16);
}
