 body{
   margin: 0px;
   padding: 0px;
 }

 .container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("https://logos.textgiraffe.com/logos/logo-name/Era-designstyle-love-heart-m.png");
  transform: rotateY(  0deg) translateZ(430px); 
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
   
 

.carousel__face:nth-child(2) { 
  background-image: url("images/Mst Era.jpg");
    transform: rotateY( 40deg) translateZ(430px); 
    box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel__face:nth-child(2):hover{
    

  }

.carousel__face:nth-child(3) {
  background-image: url("era pic/hobu boww.jpg");
  transform: rotateY( 80deg) translateZ(430px);
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel__face:nth-child(4) {
  background-image: url("era pic/IMG_20211216_122229.jpg");
  transform: rotateY(120deg) translateZ(430px);
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel__face:nth-child(5) { 
  background-image: url("era pic/misty bow.jpg");
 transform: rotateY(160deg) translateZ(430px); 
 box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
 border-radius: 4px;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.carousel__face:nth-child(6) { 
  background-image: url("era pic/Mst Era.jpg");
 transform: rotateY(200deg) translateZ(430px); 
 box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
 border-radius: 4px;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.carousel__face:nth-child(7) { 
  background-image: url("era pic/misty bow.jpg");
 transform: rotateY(240deg) translateZ(430px); 
 box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
 border-radius: 4px;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.carousel__face:nth-child(8) {
  background-image: url("era pic/Mst Era.jpg");
  transform: rotateY(280deg) translateZ(430px); 
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel__face:nth-child(9) {
  background-image: url("era pic/misty bow.jpg");
  transform: rotateY(320deg) translateZ(430px); 
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}