@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700;900&display=swap');
 
body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #e9e9f1;
    width: 100%;
    height: 90px;
    display: block;
    font-family: 'Noto Sans Bengali', sans-serif;
      
}
 
  @media only screen and (max-width: 412px) {
    .header{
      width: 100%;
      background-color: red;
      height: 50px;
    }
    
  }

.logo-image{
    background-image: url('images/book logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 79px;
    width: 81px;
    display: block;
    margin-left: 168px;
    margin-top: 0;
    border: 1px solid #fff;
    border-radius: 58px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}


 


.header-text{
    display: inline-block;
    
    position: relative;
    margin-left: 123px;
    margin-top: -13px;
    font-size: 30px;
    color: #19cb46;
}

 

.search-icon{
    display: inline-block;
    position: absolute;
    margin-top: 14px;
    margin-left: 132px;
    height: 33px;
    width: 355px;
    border: 5px black;
    border-radius: 41px;
  }

  


   
  .nav-menu{
    position: sticky;
    top: 0px;
    margin-top: -16px;
    
  }
  .main-menu{
    background: rgb(14, 116, 212);
    position: sticky;
    width: 100%;
    height: 50px;
   
  }
  .main-menu ul {
    list-style-type: none;
     
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0px;
     }
  
   .main-menu ul li {
     float: left;
     position: relative;
     margin-left: 10px;
    
  
  
   }
  
   .main-menu::after {
     content: '';
     display: block;
     clear: both;
   }
  
   .main-menu ul li a {
     text-decoration: none;
     padding: 15px 13px;
     display: inline-block;
     font-size: 17px;
     color: #efe7e7;
     box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
     font-family: 'Noto Sans Bengali', sans-serif;
      float: left;
  
  
   }
  
   .main-menu ul li:hover {
     background: rgb(24, 25, 25);
   }
 
.main-content{
  background-color: #f3f4f6;
  height: 874px;
  width: 100%;
}



.main-content{
  background-color: #e9e9f1;
  height: 1800px;
  width: 100%;
}
.content-header{
  background-color: rgb(41, 91, 210);
  width: 72%;margin-left: 14%;
  height: 54px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 4px;

}

.content-header h3{
  color: #e9e9f1;
  margin-top: 14px;
  margin-left: 29px;
}
.book-row{
  background-color: #e9e9f1;
  width: 100%;
  height: 699px;
  margin-top: 4%;
   
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: px;
    margin-left: px;
}
.book-body{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;

}
.book-body img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body marquee{
  margin-top: 10px;
}

.book-body h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}
.book-body a{
  color: rgb(218, 208, 208);
}
 
 



.book-body-2{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;
}
.book-body-2 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-2 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-2 marquee{
  margin-top: 10px;
}

.book-body-2 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}
 
.book-body-2 a{
  color: rgb(218, 208, 208);
  text-decoration: none;
  margin-left: 30px;
  padding-top: 10px;
  display: inherit;
}


.book-body-3{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;
}
.book-body-3 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-3 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-3 marquee{
  margin-top: 10px;
}

.book-body-3 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-3 a{
  color: rgb(218, 208, 208);
text-decoration: none;
margin-left: 30px;
padding-top: 10px;
display: inherit;
}
.book-body-4{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 0px;
}
.book-body-4 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-4 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-4 marquee{
  margin-top: 10px;
}

.book-body-4 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-4 a{
  color: rgb(218, 208, 208);
text-decoration: none;
margin-left: 85px;
padding-top: 10px;
display: inherit;
}

 

.book-body-5{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;

}
.book-body-5 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-5 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-5 marquee{
  margin-top: 10px;
}

.book-body-5 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}
 
.book-body-5 a{
  color: rgb(218, 208, 208);
}
.book-body-6{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;

}
.book-body-6 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-6 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-6 marquee{
  margin-top: 10px;
}

.book-body-6 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-6 a{
  color: rgb(218, 208, 208);
}
.book-body-7{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;

}
.book-body-7 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-7 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-7 marquee{
  margin-top: 10px;
}

.book-body-7 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}


.book-body-7 a{
  color: rgb(218, 208, 208);
}
.book-body-8{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 0px;

}
.book-body-8 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-8 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-8 marquee{
  margin-top: 10px;
}

.book-body-8 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-8 a{
  color: rgb(218, 208, 208);
}
.book-body-9{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;

}
.book-body-9 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-9 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-9 marquee{
  margin-top: 10px;
}

.book-body-9 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-9 a{
  color: rgb(218, 208, 208);
}
.book-body-10{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;

}
.book-body-10 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-10 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-10 marquee{
  margin-top: 10px;
}

.book-body-10 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-10 a{
  color: rgb(218, 208, 208);
}
.book-body-11{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 31px;

}
.book-body-11 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-11 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-11 marquee{
  margin-top: 10px;
}

.book-body-11 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-11 a{
  color: rgb(218, 208, 208);
}

.book-body-12{
  background-color: #dbdbdb;
  height: 370px;
  width: 250px;
  margin-top: 15px;
  margin-right: 0px;

}
.book-body-12 img{
  height: 292px;
  padding: 11px;
  width: 202px;
  margin-left: 12px;
}
.book-body-12 h4{
  height: 44px;
  overflow: hidden;
  background-color: #0067b4;
  width: 243px;
  padding: 3px;
}
  
.book-body-12 marquee{
  margin-top: 10px;
}

.book-body-12 h4:hover{
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

.book-body-12 a{
  color: rgb(218, 208, 208);
}



















































.hidden {
  display: none;
}

.footer-gray {
  background-color: #EFEFEF;
  width: 100%;
}

.footer-custom {
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1008px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
}

.footer-custom:after {
  display: table;
  clear: both;
  content: "";
}

.footer-lists:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-hdr {
  color: #000;
  font: 22px/1.4;
  margin: 1em 0 0;
  font-family: 'Noto Sans Bengali', sans-serif;
}

@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
}

.footer-list-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-list-wrap {
    width: 25%;
  }
}

.ftr-links-sub {
  padding: 0;
  margin: 0;
}

.ftr-links-sub:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-links-sub li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  color: #888;
  font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  /*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  text-decoration: none;
  color: #888;
  padding: 5px 0;
  display: block;
}

.footer-custom .footer-legal a {
  display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
  text-decoration: underline;
  color: #888;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
    padding: 0;
  }
}
/* BEGIN EMAIL CAPTURE STYLES*/

.footer-email {
  text-align: center;
}

#ftrEmailForm {
  height: 44px;
}

#ftrEmailForm .error {
  display: none;
  color: red;
  text-align: left;
}

#ftrEmailForm #ftrEmailInput {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  color: #888;
  float: left;
  font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 5px;
  width: 70%;
  height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
  border: 1px solid #888;
}

#ftrEmailForm #ftrEmailInput:focus {
  border: 1px solid #ef9223;
  outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
  width: 30%;
  height: 100%;
  padding: 5px;
  float: left;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  color: #000;
  font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #FFF;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
  background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
  background: black;
  color: #FFF;
  outline: none;
}
/* BEGIN SOCIAL STYLES*/

.footer-social {
  text-align: center;
}

.footer-social ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-social ul:after {
  display: table;
  clear: both;
  content: "";
}

.footer-social li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-lists {
    width: 100%;
  }
  .footer-email {
    width: 50%;
    float: left;
    text-align: left;
  }
  .footer-social {
    width: 45%;
    margin-left: 5%;
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }
  .footer-email {
    width: 33.3333%;
  }
  .footer-social {
    width: 33.3333%;
    float: right;
    margin-left: 0;
  }
}

.footer-legal {
  padding: 15px 0 0;
  clear: left;
}

.footer-payment {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-legal {
    width: 66.6666%;
    float: left;
  }
  .footer-payment {
    width: 33.3333%;
    float: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-payment {
    text-align: left;
  }
}

.footer-payment ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-payment ul li {
  display: inline-block;
  margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
  .footer-payment ul li.ftr-stella {
    margin-left: 0;
  }
}

.ftr-bbb span,
.ftr-stella span {
  background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand2/images/subnav2.png");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0;
}

.ftr-bbb span {
  background-position: -339px -8px;
  width: 96px;
}

.ftr-stella span {
  background-position: -339px -107px;
  width: 57px;
}