@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700;900&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgb(109, 109, 109);
    width: 100%;
    height: 90px;
    display: block;
    font-family: 'Noto Sans Bengali', sans-serif;
      
}
.logo-image{
    background-image: url('images/toufiqcse7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 79px;
    width: 81px;
    display: block;
    margin-left: 168px;
    margin-top: 0;
    border: 1px solid #fff;
    border-radius: 58px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}
.header-text{
    display: inline-block;
    
    position: relative;
    margin-left: 123px;
    margin-top: -13px;
    font-size: 30px;
    color: #bbefc8;
}
.search-icon{
    display: inline-block;
    position: absolute;
    margin-top: 14px;
    margin-left: 20px;
    height: 33px;
    width: 355px;
    border: 5px black;
    border-radius: 41px;
  }
  .sign-in{
    display: inline-block;
    position: absolute;
    color: #fff;
    margin-top: 50px;
    margin-left: 566px;
    margin-top: 37px;
  }
  .sign-in a{
    text-decoration: none;
    list-style-type: none;
    color:  #bbefc8;
    padding-left: 5px;
    
  }
  .sign-in a:hover{
    color: #432626;
  }
  .nav-menu{
  
    
    box-sizing: border-box;
  }
  .main-menu{
    background: rgb(195, 217, 238);
    position: sticky;
   
  }
  .main-menu ul {
      list-style-type: none;
      margin-left: 200px;
      display: inline;
     }
  
   .main-menu ul li {
     float: left;
     position: relative;
     margin-left: 63px;
    
  
  
   }
  
   .main-menu::after {
     content: '';
     display: block;
     clear: both;
   }
  
   .main-menu ul li a {
     text-decoration: none;
     padding: 20px 20px;
     display: inline-block;
     font-size: 20px;
     color: #432626;
     box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.2);
     font-family: 'Noto Sans Bengali', sans-serif;
      float: left;
  
  
   }
  
   .main-menu ul li:hover {
     background: rgb(97, 155, 194);
   }
.social-icon{
  display: inline-block;
  margin-left: -94px;
   
}
.social-icon a{
  height: 50px;
  width: 50px;
  background-color: #f5f6fa;
  border-radius: 50px;
  margin-top: 7px;
  box-shadow: 1px 4px 2px 2px gray;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-left: 1px;
}
.social-icon a i{
  font-size: 25px;
  transition: all 0.3s linear;

}
.social-icon a:hover i{
  transform: scale(1.4);
}
.fa-facebook{
  color: rgb(18, 165, 223);
}
.fa-twitter{
  color: rgb(47, 98, 240);
}
.fa-youtube{
  color: rgb(180, 25, 25);
}
.fa-envelope{
  color: rgba(17, 19, 18, 0.719);
}
.main-content{
  background-color: #f3f4f6;
  height: 874px;
  width: 100%;
}
 
.main-content {
  background-color: #d7ddea;
  height: 874px;
  width: 100%;
}
.album-1{
  background-color: rebeccapurple;
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  margin-top: 22px;
  box-sizing: border-box;
  background-image: url('images/introduce/baba.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.details input{
  color: #cad2cc;
display: inline-block;
margin-top: 213px;
margin-left: 26px;
font-size: 16px;
background-color: #599983;
border-radius: 6px;
height: 31px;
width: 85px;
padding: 2px 2px 3px 3px;
text-align: center;
}
.details input:hover{
  background-color: #373d3d;
  transform: scale(1.1);
}

.album-2{
  background-color: rgb(38, 197, 117);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/introduce/ma.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.album-3{
  background-color: rgb(207, 167, 57);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/introduce/vai.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.album-4{
  background-color: rgb(204, 99, 108);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/introduce/Vabi.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.album-5{
  background-color: rgb(204, 99, 108);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/introduce/IMG_20211216_122229.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.album-6{
  background-color: rgb(204, 99, 108);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/Mst Era.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.album-7{
  background-color: rgb(204, 99, 108);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/introduce/apa.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.album-8{
  background-color: rgb(204, 99, 108);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/introduce/arafat.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.album-9{
  background-color: rgb(204, 99, 108);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url('images/introduce/arafat.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
}


.album-10{
  background-color: rgb(204, 99, 108);
  height: 190px;
width: 10%;
float: left;
margin-left: 35px;
border: 2px;
border-radius: 18px;
  border-block-style: dotted;
  border-block-color: #e3efe6;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: 8px 9px 13px rgba(3, 5, 5, 0.5);
  background-image: url(' images/introduce/fattiha.jpeg  ');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
}